body{
    font-size:50px;
}
@media (max-width:899px) 
{
    body{
        background-color:red;
    }
    h1{
        color:white;
    }
}
@media (min-width:900px) and (max-width:949px) 
{
    body{
        background-color:black;
    }
    h1{
        color:white;
    }
}
@media (min-width:950px) and (max-width:1000px) 
{
    body{
        background-color:blue;
    }
    h1{
        color:black;
    }
}
@media (min-width:1001px) and (max-width:1050px) 
{
    body{
        background-color:yellow;
    }
    h1{
        color:black;
    }
}
@media (min-width:1051px) and (max-width:1100px) 
{
    body{
        background-color:orange;
    }
    h1{
        color:black;
    }
}
@media (min-width:1101px) and (max-width:1150px) 
{
    body{
        background-color:pink;
    }
    h1{
        color:black;
    }
}
@media (min-width:1151px)
{
    body{
        background-color:green;
    }
    h1{
        color:black;
    }
}

